<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Details</title>

    <style>
        body{
            background-color: white;
            color: black;
            font-family: 'Courier New', Courier, monospace;
        }
        .botoncito{
            color: yellow;
            border-radius: 0.5em;
            padding: 2px;
            margin-top: 25px;
            border: solid 1px cyan;
            text-decoration: none;
        }
        .botoncito:hover{
            background-color: gray;
            border: none;
        }
    </style>
    <link  th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
    <h1 th:text="${title}">Titulo</h1>

    <ul>
        <li th:text="${user.name}">Nombre</li>
        <li th:text="${user.lastname}">Apellido</li>
        <li th:text="${user.age}">Edad</li>
        <li th:if="${user.email != null}" th:text="${user.email}">Email</li>
        <li th:if="${not (user.email != null)}" th:text="${'No tiene email'}"></li>
    </ul>

    <table th:if="${not users.isEmpty()}" class="table table-striped" style="width: 70%; border: 1px solid white">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}" >
            <td th:text="${user.name}" style="border: 1px solid cyan"></td>
            <td th:text="${user.lastname}" style="border: 1px solid cyan"></td>
            <td th:text="${user.age}" style="border: 1px solid cyan"></td>
            <td th:if="${user.email != null}" th:text="${user.email}" style="border: 1px solid cyan"></td>
            <td th:if="${user.email == null}" th:text="${'Sin email'}" style="color:red; border: 1px solid cyan"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="botoncito" th:href="@{/list}">Ver Listado</a>
    <a class="botoncito" th:href="@{'/api/params/foo?mensaje='+${title}}">Ver mensaje</a>
    <a class="botoncito" th:href="@{/api/params/foo(mensaje='Hola cocacola')}">Ver mensaje 2</a>
    <a class="botoncito" th:href="@{/api/params/bar(text='Varios parametros',code=4422)}">Mensaje varios</a>
    <a class="botoncito" th:href="@{/logout}">Logout</a>
    <script src="js/bootstrap.js"></script>
</body>
</html>